* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.imagen {
  max-width: 100%; }

.navbar {
  background: #3CB371; }

.p-3 {
  font-size: 7rem; }

.btn {
  background-color: #3CB371;
  border: 2px solid #114b2b;
  color: white; }

.btn:hover {
  color: black;
  background-color: #cffdee;
  border: none; }

#carritoContenedor {
  font-size: 3rem; }

a {
  cursor: pointer; }

.alerta {
  font-weight: 700; }

body {
  background-color: #cffdee;
  overflow-x: hidden; }

.modal-contenedor {
  display: flex;
  align-items: center;
  gap: 2rem; }

#imagenAtras {
  width: 200px;
  height: 200px; }

.modal-content {
  background-color: #E3D8D6; }

.parrafo {
  font-weight: 900;
  font-style: italic; }

#precioTotal {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

#activarFuncion {
  display: none;
  visibility: hidden; }
